<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="section s1">
                <h1 class="heading">We make you <br>stand out & stick around</h1>
                <p class="sub-heading">Brand your name, so even your mom would understand your product.</p>
                <a class="projects-link" href="">Sambo</a>
                <div class="check-out"></div>
                <a class="play-video"
                    href="https://www.youtube.com/watch?v=qMdnhWUspfI&feature=emb_logo&ab_channel=SAMBOADVERTISING">
                    <img src="assets/icons/play.svg" />
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="section s2">
                <h1 class="heading">We understand that your image needs to be perfect so we always listen</h1>
                <div class="s2-grid">
                    <div class="s2-grid-item call-item" style="background-color: #FAFAFA; width: 100%; height: 100%;">
                        <img class="s2-icons" src="assets/icons/call-outline.svg">
                        <h2>Phone</h2>
                        <p><b>Phone No.:</b> +61 7 3219 6411</p>
                    </div>
                    <div class="s2-grid-item  map-item" style="background-color: #FAFAFA; width: 100%; height: 100%;">
                        <img class="s2-icons" src="assets/icons/map-outline.svg">
                        <h2>Location</h2>
                        <p><b>Address:</b> Unit 7/41 Bellrick St, Acacia Ridge QLD 4110</p>
                    </div>
                    <div class="s2-grid-item email-item" style="background-color: #FAFAFA; width: 100%; height: 100%;">
                        <img class="s2-icons" src="assets/icons/mail-outline.svg">
                        <h2>Email</h2>
                        <p><b>Email Address:</b> quote@samboadvertising.com.au</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="section s3">
                <h1 class="heading">So that you can know who we are</h1>
                <div class="s3-who">
                    <p class="s3-who-desc">
                        We are Australia's leading premium signage manufacturer since 1997 and pioneers in the
                        wholesale manufacturing area.
                    </p>
                    <div class="s3-grid">
                        <div style="background-color: antiquewhite; width: 100%; height: 100%;">1</div>
                        <div style="background-color: antiquewhite; width: 100%; height: 100%;">2</div>
                        <div style="background-color: antiquewhite; width: 100%; height: 100%;">3</div>
                        <div style="background-color: antiquewhite; width: 100%; height: 100%;">4</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="section s4">
                <h1 class="heading">And of course, we have stories to tell</h1>
                <div class="projects-grid">
                    <div class="one" style="background-color: antiquewhite; width: 100%; height: 100%;">1</div>
                    <div class="two" style="background-color: antiquewhite; width: 100%; height: 100%;">2</div>
                    <div class="three" style="background-color: antiquewhite; width: 100%; height: 100%;">3
                    </div>
                    <div class="four" style="background-color: antiquewhite; width: 100%; height: 100%;">4</div>
                    <div class="five" style="background-color: antiquewhite; width: 100%; height: 100%;">5</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="section s5">
                <h1 class="heading">Sounds good? <br>Hit us up!</h1>
                <div class="quote-container">
                    <a class="quote-link" href="mailto:quote@samboadvertising.com">Request Quote</a>
                    <h2 class="or">or</h2>
                    <p>Contact us at
                        <a class="email-link" href="mailto:quote@samboadvertising.com">
                            quote@samboadvertising.com
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </div>

</div>