<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="section s1">
                <h1 class="heading">We make you <br>stand out & stick around</h1>
                <p class="sub-heading">Brand your name, so even your mom would understand your product.</p>
                <a class="projects-link" href="">Sambo</a>
                <div class="check-out"></div>
                <a class="play-video" href="">
                    <img src="assets/icons/play.svg" />
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="section s2">
                <h1 class="heading">Lead in your industry</h1>

            </div>
        </div>
    </div>
</div>